rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth()  { return request.auth != null; }
    function isNEU()   { return request.auth.token.email.matches('.*@neu\\.edu\\.ph$'); }
    function getRole() { return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role; }
    function isAdmin() { return isAuth() && getRole() == 'admin'; }

    match /users/{userId} {
      allow read:   if isAuth() && isNEU();
      allow create: if isAuth() && isNEU() && request.auth.uid == userId;
      allow update: if (isAuth() && request.auth.uid == userId && request.resource.data.role == resource.data.role) || isAdmin();
      allow delete: if isAdmin();
    }

    match /visits/{visitId} {
      allow read:   if isAuth() && isNEU();
      allow create: if isAuth() && isNEU();
      allow update: if isAdmin() || (isAuth() && resource.data.studentId == request.auth.uid);
      allow delete: if isAdmin();
    }
  }
}
